<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Boggle Game</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/start">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dictionary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">High Score</a>
                    </li>
                </ul>
            </div>
            <div class="d-inline-flex justify-content-end">
                <div class="p-2">Score: <span id="score">0</span></div>
                <div class="p-2">Time: <span id="time">00:00</span></div>
            </div>
        </div>
    </nav>
    {% block heading %} {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="text-center" id="flash-mgs">
        {% for type,msg in messages %}
        <p class="{{type}}">{{msg}}</p>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    {% block script %}{% endblock%}
</body>

</html>